# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Recent versions
nedit-5.5-src.tar.bz2
nedit-5.6a-src.tar.gz

# Patches from online
40_Pointer_to_Integer.patch
50_ChangeNCinMan.patch
90_build_no_ask.patch
92_format_string.patch
drag-move-v1_5.patch
fix_typo_in_help.patch
language-mode-detection.patch
multiple-tabrows.patch
show-filename.patch

#Build dirs
nedit-*.i686/
nedit-*.x86_64/

